SmartWalkSolution/SmartWalk.Core/bin
SmartWalkSolution/SmartWalk.Core/obj
SmartWalkSolution/SmartWalk.iOS/bin
SmartWalkSolution/SmartWalk.iOS/obj
SmartWalkSolution/SmartWalk.userprefs
MvvmCross-3
MvvmCross-Tutorials
Newtonsoft.Json
