article.overview h2 {
    margin: 0.6em 0;
}

.event-item
{
    margin-top: 12px;
    height: 32px;
}

.event-item tr.alt {
    background-color: #E6E6E6;
}

.event-item th {
    padding: 7px;
    vertical-align: middle;
    text-align: center;
    background: #CCCCCC;
    font-weight: bold;    
}
 
.event-item td {
    padding: 4px;
    vertical-align: middle;
}