.description {
    white-space: pre-line;
}

span.description,
i.description {
	color: #777;
}

textarea {
	height: 100px !important;
}

.ui-dialog .btn-top {
    visibility: hidden;
}

.titleLabel {
    display: none;
}

.ui-dialog .titleLabel {
    display: inline;
}

.td-align {
	text-align: center;
}

.td-valign {
	vertical-align: middle !important;
}

.td-align .dropdown-menu {
	text-align: left;
}

.floating {
	float: left;
}

.floating-container .thumbnail {
	margin-right: 20px;
	padding: 0;
	border-radius: 0;
}

.floating-container a.thumbnail {
	color: #ffffff !important;
}

.row h2 {
	margin-top: 0;
}

.table-content {
    margin-bottom: -5px;
}

.table thead tr h4 {
	margin-bottom: 0;
}

.table thead td {
	vertical-align: bottom;
}

.table-hover > tbody > tr.venue:hover > td,
.table-hover > tbody > tr.venue:hover > th,
.table-hover > tbody > tr.add-venue-show:hover > td {
  background-color: #fff;
}

.table-hover > tbody > tr.venue-show:hover > td,
.table-hover > tbody > tr.venue-show:hover > th,
.table-hover > tbody > tr.add-venue-show:hover > td {
  cursor: pointer;
}

.table tr.venue td {
	padding-top: 35px;
}

.table.edit tr.venue td {
    border-top-style: none;
}

.table tr.venue a.bg-image {
    position: relative;
    overflow: hidden;
    width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
    background-color: #ccc;
    text-decoration: none;
}

.table tr.venue a.bg-image:hover {
    text-decoration: none;
}

.table tr.venue img {
    position: absolute;
    top: 0;
    left: 0;
}

.bg-image span.abbr {
    font-size: 28px;
    color: #fff;
}

.table tr.venue span.abbr {
    width: 60px;
	height: 60px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.table tr.venue h4 {
    display: inline-block;
	margin-top: 8px;
    margin-bottom: 8px;
    word-wrap: break-word;
}

.table th h4 {
	display: inline-block;
}

.table tr.venue address {
	margin-bottom: 0;
    display: inline;
}

.remove.close {
    font-size: 16px;
    margin-right: 8px;
    filter: alpha(opacity=50);
    opacity: .5;
}

.remove.close:hover,
.remove.close:focus {
    filter: alpha(opacity=90);
    opacity: .9;
}

.table .venue .remove.close {
    font-size: 21px;
    margin-right: 5px;
}

.add-venue,
.add-item-container {
    text-align: center;
    margin-top: 25px;
}

.add-venue a {
    font-size: 18px;
    cursor: pointer;
}

.add-venue-show div {
    text-align: center;
}

.add-venue-show a,
.add-item-container a {
    font-size: 14px;
    cursor: pointer;
}

.add-venue a:hover,
.add-venue-show a:hover,
.add-item-container a:hover {
    border-bottom: dashed;
    text-decoration: none; 
}

.add-venue-show a:hover,
.add-item-container a:hover {
    border-bottom-width: 2px;
}

.map-container {
	max-height: 200px;
    line-height: 0;
	border: 0;
    margin: 0 -15px 0 -15px;
    background-color: #B4D1FF;
}

.map-container iframe {
    width: 100%;
	height: 100%;
    border: none;
    background-color: #B4D1FF;
}

.bg-image-container {
	position: relative;
}

.bg-image-container .header {
	position: relative;
	overflow: hidden;
	background-color: #aaaaaa;
}

.page-header-image .header {
    margin-top: -15px;
	min-height: 350px;
}

.floating .header {
	width: 260px;
	height: 200px;
}

.floating .header h2,
.floating .header h3 {
    max-height: 125px;
    overflow: hidden;
}

.page-header-image {
    margin: 0 -15px 0 -15px;
}

.bg-image-container .header img {
	position: absolute;
	top: 0;
	left: 0;
}

.bg-image-container .header h2,
.bg-image-container .header h3 {
	position: relative;
	z-index: 10;
	margin-top: 0;
	padding: 15px 15px 30px 15px;
	
	/* Candidate for a mixin */
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(0, 0, 0, 0)),
		color-stop(1, rgba(0, 0, 0, 0.7))
	);
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%);
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%);
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%);
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%);
}

.bg-image-container .header h2 {
	margin-bottom: 150px;
}

.bg-image-container .header h2 button {
    float: right;
    margin-left: 15px;
}

.bg-image-container .header h3 {
	margin-bottom: 30px;
}

.bg-image-container .info {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 15;
	padding: 15px;
	
	/* candidate for a mixin */
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(0, 0, 0, 0.7)),
		color-stop(1, rgba(0, 0, 0, 0))
	);
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 100%);
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 100%);
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 100%);
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 100%);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 100%);
}

.bg-image-container h2, 
.bg-image-container h3, 
.bg-image-container h4,
.bg-image-container h5 {
    color: #ffffff;
    text-shadow: #000000 0 1px 3px;
    text-shadow: rgba(0, 0, 0, 0.498039) 0 1px 3px;
}

.bg-image-container .info h4 {
	margin-bottom: 0;
	max-height: 40px;
	line-height: 20px;
	overflow: hidden;
}

.bg-image-container .info  a {
	color: #ffffff;
	text-decoration: underline;
}

.page-header-image .add-event-widget {
	margin-top: 10px;
}

.page-header-image .add-event-widget a {
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #666;
    background: rgba(255, 255, 255, 0.2) 
        url(http://addthisevent.com/gfx/icon-calendar-t1.png) 
        no-repeat 9px 50%;
    color: #fff !important;
    font-weight: normal;
}

.page-header-image .add-event-widget a:hover {
    color: #ccc !important;
}

.page-header-image .btn {
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #666;
    background: rgba(255, 255, 255, 0.2) !important;  
}

.page-header-image .btn:hover {
    color: #ccc;
}

.bg-image-container .info .description {
	color: #dddddd;
}

.bg-image-container .info .addresses-container {
	max-height: 200px;
	overflow: hidden;
}

.addthisevent span {
	display: none;
}

.addresses-container address,
.addresses-container h4 {
	display: inline;
}

.addresses-container div {
	padding-top: 12px;
}

.addresses-container i.tip,
.addresses-table i.tip,
.venue i.tip {
	margin-left: 10px;
}

.contact-container .well {
	padding: 5px;
}

.contact-container .dl-horizontal dt {
	width: 70px;
}

.contact-container .dl-horizontal dd {
	margin-left: 80px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.editing-container .well {
	position: relative;
	/*Popup window conflict (adding, editing addresses, contacts)*/
    /*z-index: 10;*/
	margin: -5px 0 -5px 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

td.editing-container {
	padding: 0 !important;
}

.editing-container .form-group .input-group-btn,
.input-group .input-group-btn {
    vertical-align: top;
}

.venue.editing-container .well {
    margin-top: 25px;
}

/* jQuery overrides */

.ui-datepicker {
    z-index: 100!important; 
}