@using SmartWalk.Server.Theme
            <ul class="list-inline">
                <li><a href="#/privacy">Privacy Policy</a></li>
                <li>&middot;</li>
                <li><a href="#/terms">Terms and Condition</a></li>
                <li>&middot;</li>
                <li><a href="#/contact">Contact Information</a></li>
            </ul>

            <span class="text-muted">Version: @ResourceManifest.GetCurrentVersion()</span>