<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ShowMap</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    
    <!-- Override CSS -->
    <link rel="stylesheet" href="css/sw-override.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">SHOWMAP</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/events">Events</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/users/account/sign-in">Sign In</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>One app for all festivals</h1>
                <hr>
                <p>ShowMap helps to maintain a festival schedule on-line and provides visitors a free mobile app for easy navigation through the festival on the go</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We Provide</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="glyphicon glyphicon-phone feature-icon wow bounceIn text-primary"></i>
                        <h3>Free Mobile App</h3>
                        <p class="text-muted">A modern mobile app with great user experience</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="glyphicon glyphicon-globe feature-icon wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>On-line Editor</h3>
                        <p class="text-muted">Easy to use mobile-friendly web editor for any schedule</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="glyphicon glyphicon-cloud feature-icon wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Cloud Service</h3>
                        <p class="text-muted">Fast and reliable web service accessible anywhere</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="glyphicon glyphicon-heart feature-icon wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Community</h3>
                        <p class="text-muted">A growing community of festival lovers</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center vcenter">
                    <h2 class="section-heading">Organizing a big event?</h2>
                    <hr class="light">
                    <p class="text-faded">Use ShowMap schedule editor to list all venues and to set time for event shows. It will be available for visitors through the SmartWalk mobile app.</p>
					<a href="/events/create" class="btn btn-default btn-xl">Create Event</a>
                </div><!--
    		 --><div class="col-sm-6 text-center hidden-xs vcenter">
                    <a href="/events/create"><img src="img/editor.png" alt="Web Editor" style="max-height: 100%; max-width: 100%; width: auto;"></a>			
				</div>
            </div>
        </div>
    </aside>
    
    <aside class="bg-primary">
        <div class="container">
            <div class="row">
				<div class="col-sm-4 text-center hidden-xs vcenter">
                    <a href="https://itunes.apple.com/us/app/smartwalk/id739528404?mt=8"><img src="img/app.png" alt="Mobile App" style="max-height: 500px; width: auto;"></a>
				</div><!--
    		 --><div class="col-sm-8 text-center vcenter">
                    <h2 class="section-heading">Going to a festival?</h2>
                    <hr class="light">
                    <p class="text-faded">Download the ShowMap app and enjoy an exceptional interface to keep track of festival performances.</p>
                	<a href="https://itunes.apple.com/us/app/smartwalk/id739528404?mt=8"><img height="45" src="https://developer.apple.com/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg" alt="" data-hires-status="already-hires"></a>
                </div>
            </div>
        </div>
    </aside>
    
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events on ShowMap</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-3 col-xs-6">
                    <a href="http://showmap.co/event/2078" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Music Festival
                                </div>
                                <div class="project-name">
                                    Outside Lands
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <a href="http://showmap.co/event/2077" class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Music Festival
                                </div>
                                <div class="project-name">
                                    High Sierra
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <a href="http://showmap.co/event/2072" class="portfolio-box">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Music Festival
                                </div>
                                <div class="project-name">
                                    Treasure Island
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <a href="http://showmap.co/event/2065" class="portfolio-box">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Art Walk
                                </div>
                                <div class="project-name">
                                    Oakland Art Murmur: First Friday
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
<!--  
                <div class="col-lg-4 col-sm-6">
                    <a href="http://showmap.co/event/1054" class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Community Event
                                </div>
                                <div class="project-name">
                                    Mission Arts & Performance Project
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://showmap.co/event/1053" class="portfolio-box">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Music Festival
                                </div>
                                <div class="project-name">
                                    Sasquatch!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
-->

        </div>
        <div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<br />
					<a href="/events" class="btn btn-primary btn-xl page-scroll">More Events</a>
				</div>
			</div>
		</div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                    <br>
                    <br>
                </div>
			</div>
			<div class="row">
                <div class="col-xs-3 col-sm-3 text-center">
                    <img class="contact-icon wow bounceIn" src="img/icons/phone.svg" alt="" />
                    <p>+1-415-944-9433</p>
                </div>
                <div class="col-xs-3 col-sm-3 text-center">
                    <img class="contact-icon wow bounceIn" src="img/icons/email.svg" data-wow-delay=".1s" alt="" />
                    <p><a href="mailto:info@showmap.co">info@showmap.co</a></p>
                </div>
                <div class="col-xs-3 col-sm-3 text-center">
                    <img class="contact-icon wow bounceIn" src="img/icons/tw.svg" data-wow-delay=".2s" alt="" />
                    <p><a href="#">@ShowMap</a></p>
                </div>
                <div class="col-xs-3 col-sm-3 text-center">
                    <img class="contact-icon wow bounceIn" src="img/icons/fb.svg" data-wow-delay=".3s" alt="" />
                    <p><a href="#">/ShowMap</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
