<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>CFBundleIdentifier</key>
	<string>me.smartwalk.ios</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>TintColor</key>
			<dict>
				<key>Red</key>
				<real>0.2</real>
				<key>Green</key>
				<real>0.2</real>
				<key>Blue</key>
				<real>0.2</real>
			</dict>
		</dict>
	</dict>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Images.xcassets/LaunchImage.launchimage</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>NSLocationUsageDescription</key>
	<string>The location is used to load the closest events in the given area.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The location is used to load the closest events in the given area.</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>ShowMap</string>
	<key>CFBundleVersion</key>
	<string>13</string>
</dict>
</plist>
