<?xml version="1.0" encoding="utf-8" ?>
<settings>
    <testFlightToken>23af84a9-44e6-4716-996d-a4f5dd72d6ba</testFlightToken>
    <serverHost>smartwalk.me</serverHost>
    <debugServerHost>dev.smartwalk.me</debugServerHost>
    <postponeTimeMinutes>5</postponeTimeMinutes>
    <cachesPath>../Library/Caches/</cachesPath>
    <caches>
        <cache>
            <CacheName>Pictures.MvvmCross</CacheName>
            <CacheFolderPath>../Library/Caches/Pictures.MvvmCross/</CacheFolderPath>
            <MaxFiles>500</MaxFiles>
            <MaxFileAgeDays>10</MaxFileAgeDays>
            <MaxInMemoryBytes>1000000</MaxInMemoryBytes> <!-- 1 MB -->
            <MaxInMemoryFiles>10</MaxInMemoryFiles>
        </cache>
        <cache>
            <CacheName>ResizedPictures.MvvmCross</CacheName>
            <CacheFolderPath>../Library/Caches/ResizedPictures.MvvmCross/</CacheFolderPath>
            <MaxFiles>1000</MaxFiles>
            <MaxFileAgeDays>10</MaxFileAgeDays>
            <MaxInMemoryBytes>3000000</MaxInMemoryBytes> <!-- 3 MB -->
            <MaxInMemoryFiles>30</MaxInMemoryFiles>
        </cache>
        <cache>
            <CacheName>Data.SmartWalk</CacheName>
            <CacheFolderPath>../Library/Caches/SmartWalkData.Cache/</CacheFolderPath>
            <MaxFileAgeDays>10</MaxFileAgeDays>
        </cache>
    </caches>
</settings>