@{
    Style.Require("jQueryUI_Orchard");
    Style.Require("FSquare.Autocomplete");
    
    
    Script.Require("jQueryUI").AtHead();
    Script.Require("FSquare.Autocomplete").AtHead();
}
<div class="ui-widget">
        <label for="venue">Venue: </label>
        <input id="venue"/>
    </div>
    <div>
        <input type="hidden" id="venue-id"/>
        <div class="categoryIconContainer">
            <img id="venue-icon" src="" class="ui-state-default" alt=""/>    
        </div>
        <div id="venue-name" class="autocomplete-name"></div>
        <div id="venue-address" class="autocomplete-detail"></div>
		<div id="venue-cityLine" class="autocomplete-detail"></div>
	</div>

<script>
    $(function () {
        $("#venue").foursquareAutocomplete({
            'latitude': 47.22,
            'longitude': -122.2,
            'client_id': "X23YBMO2PDIY1G3HA1URSGC2BEHLMIATUYLWDJ1ZGY3TXXF4",
            'client_secret': "H4BX4R13M3XY10XNFMNVEUCH24CYRPFUE0VZXLA0WMONKXZG",
            'minLength': 3,
            'search': function (event, ui) {
                $("#venue-name").html(ui.item.name);
                $("#venue-id").val(ui.item.id);
                $("#venue-address").html(ui.item.address);
                $("#venue-cityLine").html(ui.item.cityLine);
                $("#venue-icon").attr("src", ui.item.photo);                
                return false;
            },
            'onError': function (errorCode, errorType, errorDetail) {
                var message = "Foursquare Error: Code=" + errorCode + ", errorType= " + errorType + ", errorDetail= " + errorDetail;
                log(message);
            }

        });
    });
    function log(message) {
        $("<div/>").text(message).prependTo("#log");
        $("#log").scrollTop(0);
    }
</script>

<div class="ui-widget" style="margin-top:2em; font-family:Arial">
	Result:
	<div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>