<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>SmartWalk</string>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>me.smartwalk.ios</string>
	<key>CFBundleVersion</key>
	<string>0.9.5</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon@2x</string>
		<string>Icon</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Brandon_reg.otf</string>
		<string>Fonts/Brandon_blk.otf</string>
		<string>Fonts/Brandon_bld.otf</string>
	</array>
</dict>
</plist>
