<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>SmartWalk</string>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>me.smartwalk.ios</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon@2x</string>
		<string>Icon</string>
		<string>Icon-60@2x</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>Icon-Small-40@2x</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>0.9.9</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>TintColor</key>
			<dict>
				<key>Red</key>
				<real>0.2</real>
				<key>Green</key>
				<real>0.2</real>
				<key>Blue</key>
				<real>0.2</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
