            <div class="panel panel-default">
                <div id="dropzonePanel" class="panel-body dropzone">
                    <span class="image-preview-container" data-bind="visible: uploadManager.picturePreview() || uploadManager.isBusyUploading()">
                        <img id="previewImg" class="image-preview" data-bind="attr: {src: uploadManager.picturePreview}"
                             alt="@T("Loading picture preview...")" />
                        <button type="button" class="action close"
                                data-bind="enable: isEnabled(), click: function() { if(confirm('@T("Are you sure you want to delete the picture?")')) uploadManager.deletePicture(); }">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                        
                    <div class="image-select">
                        <span class="btn btn-success fileinput-button" data-bind="css: {disabled: !isEnabled()}">
                            <i class="glyphicon glyphicon-picture"></i>
                            <span>@T("Select picture...")</span>
                            <input id="fileupload" type="file" name="file" />
                        </span>
                    </div>
                    <p class="text-muted">@T("... or drag and drop it on this panel")</p>
                        
                    <div id="progress" class="progress" style="display: none">
                        <div class="progress-bar progress-bar-info" data-bind="style: {width: uploadManager.pictureProgress}"></div>
                    </div>
                </div>
            </div>