body {
    background-color: #f5f5f5;
}

.container.content {
    padding-top: 75px;
    padding-bottom: 15px;
    background-color: #ffffff;
}

.gap {
	margin-top: 20px;
}

.double-gap {
	margin-top: 40px;
}

.bottom-gap {
	margin-bottom: 20px;
}

.small-gap {
	margin-top: 10px;
}

/* jQueryUI Overrides */

.ui-datepicker { z-index: 100 !important; }

.ui-dialog { padding: 0; }
.ui-dialog .ui-dialog-titlebar { padding: 10px 15px;  }
.ui-dialog .ui-dialog-title { margin: 0; }
.ui-dialog .ui-dialog-titlebar-close {
    width: 23px;
    height: 23px;
    top: 50%; 
    right: 15px; 
    color: #000;
    padding: 2px;
}
.ui-dialog .ui-dialog-content { padding: 15px; }
.ui-dialog .ui-dialog-buttonpane {
	border-width: 1px 0 0 0;
	margin: 0;
	padding: 10px 15px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: 0 0 0 4px;
}

.ui-autocomplete .ui-state-hover,
.ui-autocomplete .ui-state-focus {
    border: none;
	background: none;
	font-weight: normal;
	color: #000;
}

.ui-widget {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
     font-size: 14px;
}
.ui-widget .ui-widget { font-size: 14px }

.ui-widget input, 
.ui-widget select, 
.ui-widget textarea, 
.ui-widget button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14px;
}

.ui-widget-overlay {
     background: #333; 
     opacity: .7; 
     filter:Alpha(Opacity=70);
}

.ui-widget-shadow {
     margin: -8px 0 0 -8px; 
     padding: 8px; 
     background: #aaaaaa; 
     opacity: .3;
     filter:Alpha(Opacity=30); 
     -moz-border-radius: 8px; 
     -khtml-border-radius: 8px; 
     -webkit-border-radius: 8px; 
     border-radius: 8px;
}

.open-auth-providers .facebook {
    color: transparent;
    text-indent: -9999px;
    text-transform: capitalize;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border: none;
    width: 202px;
    height: 46px;
    background: url("../img/fb-login.png") no-repeat;
}