body {
    background: url("../img/bg.png") repeat;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{
    body {
        background: url("../img/bg@2x.png") repeat;
    }
}

.navbar {
	border-radius: 0;
    margin-bottom: 0;
}

.container.content {
    padding: 15px;
    background-color: #ffffff;
}

.gap {
	margin-top: 20px;
}

.double-gap {
	margin-top: 40px;
}

.bottom-gap {
	margin-bottom: 20px;
}

.small-gap {
	margin-top: 10px;
}